*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #0d614b;
    padding: 40px 60px;
}
h3{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
button:hover {
    letter-spacing: 3px;
    background-color: hsl(180, 74%, 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24,217,220) 0px 7px 29px 0px;
}
button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 217, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
.game{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    transform: rotateY(180deg);
    background: #fff;
    transition: 0.2s;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #209d7b;
    /* opacity: 0.85; */
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after, .boxMatch:after{
    transform: rotateY(180deg);
}
.win{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
    transition: 1s;
}